<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-home"></i>

          <h3 class="box-title">Bread &amp; Brakery</h3><span class="pull-right"><i class="fa fa-star"></i> 4.5</span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-sm-3 col-xs-12">
            <img class="box-img-detail" src="assets/img/restaurants/breadbakery.png" />
          </div>

          <dl class="col-sm-9 col-xs-12">
            <dt>Categoria</dt>
            <dd>Padaria</dd>
            <dt>Quem somos</dt>
            <dd>A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os melhores doces e pães. Compre e confira.</dd>
            <dt>Horários</dt>
            <dd>Funciona de segunda à sexta, de 8h às 23h</dd>
          </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer detail-footer">
          <a class="pull-left detail-active" href="detail-restaurant.html">
            Menu
          </a>
          <a class="pull-right" href="detail-restaurant-reviews.html">
            Avaliações
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-xs-12 -->

  </div>


  <div class="row">
    <!--INÍCIO DO MENU -->
    <div class="col-md-9 col-xs-12">

      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/cupcake.png"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Cup Cake</span>
          <span class="menu-item-info-box-detail">Cup Cake recheado de Doce de Leite</span>
          <span class="menu-item-info-box-price">R$ 10,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->

      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/donut.png"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Donut</span>
          <span class="menu-item-info-box-detail">Coberto com chantilly</span>
          <span class="menu-item-info-box-price">R$ 10,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->

      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/croissant.png"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Croissant</span>
          <span class="menu-item-info-box-detail">Recheado com queijo e presunto</span>
          <span class="menu-item-info-box-price">R$ 10,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->

    </div>
    <div class="col-md-3 col-xs-12">
      <!--INICIO DO CARRINHO-->
      <div class="box box-solid">
        <div class="box-header">
          <i class="fa fa-shopping-cart"></i>

          <h3 class="box-title">Carrinho</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:60%">Cerveja:</th>

                  <td class="text-right">R$ 6,00</td>

                </tr>
                <tr>
                  <th>Pork Burger</th>

                  <td class="text-right">R$ 22,00</td>
                </tr>
                <tr>
                  <th>Frete:</th>

                  <td class="text-right">R$ 8,00</td>
                </tr>
                <tr>
                  <th>Total:</th>

                  <td class="text-right">R$ 80,90</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
            <a href="order.html" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
          </div>
        </div>
      </div>
      <!-- FIM DO CARRINHO -->
    </div>
    <!-- FIM DO MENU -->
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
